
@{
    ViewData["Title"] = "Homework6";
}

<h1>Homework6</h1>

<h1>Address</h1>
<select id="selectCity"></select>
<select id="selectDistrict"></select>
<select id="selectRoad"></select>
<div id="div1" class="alert alert-info"> </div>

@section Scripts{
    <script>
        const selCity = document.querySelector('#selectCity');
        const selDistrict = document.querySelector('#selectDistrict');
        const selRoad = document.querySelector('#selectRoad');
        const theDiv = document.querySelector('#div1');

        function loadCity() {
            fetch('@Url.Content("~/api/cities")')
                .then(response => response.json())
                .then(datas => {
                    const cities = datas.map(city => `<option value='${city}'>${city}</option>`);
                    selCity.innerHTML = cities.join("");
                    loadDistrict();
                });
        }

        function loadDistrict() {
            fetch(`@Url.Content("~/api/districts")?city=${selCity.value}`)
                .then(response => response.json())
                .then(datas => {
                    const districts = datas.map(district => `<option value='${district}'>${district}</option>`);
                    selDistrict.innerHTML = districts.join("");
                    loadRoad();
                });
        }

        function loadRoad() {
            fetch(`@Url.Content("~/api/roads")?siteId=${selDistrict.value}`)
                .then(response => response.json())
                .then(datas => {
                    const roads = datas.map(road => `<option value='${road}'>${road}</option>`);
                    selRoad.innerHTML = roads.join("");
                    show();
                });
        }

        loadCity();

        selCity.addEventListener('change', loadDistrict);
        selDistrict.addEventListener('change', loadRoad);
        selRoad.addEventListener('change', show);

        function show() {
            theDiv.textContent = `${selDistrict.value} ${selRoad.value}`;
        }



    </script>
}